body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    /* Прибираємо горизонтальну прокрутку */
    width: 100%;
    
}


.holiday-container {
    background-image: url('https://learn.logikaschool.com/uploads/student/4806324/68d43796adb59.png');
    background-size: cover;
    background-position: center;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Title {
    font-family: var(--font-family);
    line-height: 167%;
    color: #fff;
    letter-spacing: 0.5em;
    font-size: 30px;
    font-weight: 400;
    padding: 20px 20px;
    margin-top: -50px;
    /* Adjust this value as needed */
}

.Footer_image_bottom {
    display: flex;
    height: 350px;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: -150;
    transform: translateY(50px)
}


.info img {

    margin-left: 150px;
    margin-bottom: -620px;
    flex-wrap: wrap;
    gap: 20px;
}

.Child_Image_Add {
    margin-left: 930px;
    width: 100vw;
}


.decorative-images {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 20px;
}
.image2 {
    width: 10px;
    height: 40px;
    object-fit: contain;
}
.image3 {
    width: 8px;
    height: 25px;
    object-fit: contain;
}

.decorative-images2 {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin-top: 20px;
}
.image4 {
    width: 8px;
    height: 30px;
    object-fit: contain;
}
.image5 {
    width: 8px;
    height: 40px;
    object-fit: contain;
    margin-right: auto;
}

.decorative-images3 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.image6 {
    width: 10px;
    height: 20px;
    object-fit: contain;
}
.image7 {
    width: 10px;
    height: 15px;
    object-fit: contain;
}


@media (max-width: 768px) {
    .info img {
        margin-left: -600;
        margin-bottom: -465px;

    }

    .Child_Image_Add {
        margin-left: 0;
        margin-bottom: 50px;
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: end;

    }

    .Footer_image_bottom {
        height: auto;
        margin: 0;
        transform: none;
        width: 100vw;
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: -160px;
    }

    footer {
        height: auto;
        padding: 15px 20px;
        flex-direction: column;
        gap: 10px;
    }

    .decorative-images,
    .decorative-images2,
    .decorative-images3 {
        display: none;
    }
}
